<h2>Редактировать "{{product.title}}"</h2>

<form action="/product/save-edit" method="POST" class="course-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{product.title}}">
    <label for="title">Название товара</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1"  value="{{product.price}}">
    <label for="price">Цена товара</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required  value="{{product.img}}">
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <input type="hidden" name="id" value="{{product._id}}">

  <button class="btn btn-primary">Сохранить изменения</button>
</form>

<form action="/product/remove" method="POST">
  <input type="hidden" name="id" value="{{ product._id }}">
  <button class="btn red">Удалить товар</button>
</form>